*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    background: hsl(211.95deg 100% 84.9%);
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
}
.content{
    background: hsl(216deg 14.29% 93.14%);
    padding: 20px;
    text-align: center;
    width: 100%;
    order: 2;
}
.signup{
    background: hsl(212.31deg 95.12% 91.96%);
    padding: 20px;
    text-align: center;
    width: 100%;
    order: 3;
}

.feature1{
    background: hsl(38.08deg 83.87% 75.69%);
    padding: 15px;
    text-align: center;
    width: 100%;
}
.feature2{
    background-color: hsl(357.91deg 74.14% 77.25%);
    padding: 15px;
    text-align: center;
    width: 100%;
}
.feature3{
    background-color: hsl(242.31deg 83.87% 87.84%);
    padding: 15px;
    text-align: center;
    width: 100%;;
}
@media screen and (max-width: 767px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .content{
        order: 2;
    }
    .signup{
        order: 3;
    }
    .feature1{
        order: 4;
    }
    .feature2{
        order: 5;
    }
    .feature3{
        order: 6;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .content{
        grid-column: 1 / -1;
        order: 1;
    }
    .signup{
        order: 2;
    }
    .feature1{
        order: 2;
    }
    .feature2{
        grid-column: 1;
        order: 3;
    }
    .feature3{
        grid-column: 2;
        order: 3;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .feature1, .feature2, .feature3{
        order: 1;
    }

    .signup{
        grid-column: 1 / -1;
        order: 2;
    }
    
    .content{
        grid-column: 1 / -1;
        order: 3;
    }
    .feature2{
        background-color: hsl(242.31deg 83.87% 87.84%);
    }
    .feature3{
        background-color: hsl(357.91deg 74.14% 77.25%);
    }
}
